# 01. Print Hello 10 Times.

In [3]:
for i in range(1,11):
    print(f"{i}: hello")

1: hello
2: hello
3: hello
4: hello
5: hello
6: hello
7: hello
8: hello
9: hello
10: hello

# 02. Print integers 10 to 1

In [5]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# 03. Multiplication Table of a given Number.

In [8]:
n = 5
for i in range(1,11):
    print(f"{n} * {i} =  {i*n}")

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50

# 04. Calculate sum of first n numbers

In [10]:
n = 3
s = 0
for i in range(1,n+1):
    s += i
print(s)

6

# 05. Calculate product of first n numbers (factorial)

In [13]:
n = 5
p = 1
for i in range(1,n+1):
    p *= i
print(p)

120

# 06. Factorial

In [50]:
n = 5
p = 1
for i in range(n,0,-1):
    p *= i
print(p)

120

# 07. Check Prime Number

In [62]:
n = 17
flag = True
for i in range(2,(n//2)+1):
    if n%i == 0:
        flag = False
        break
print("prime") if flag else print("not prime")
#---------------------OR-----------------------
# n = 16
# for i in range(2,(n//2)+1):
#     if n%i == 0:
#         print("Not Prime")
#         break
# else:
#     print("prime")

prime

# 08. Fibonacci Series

In [48]:
n = 10
prev = 0
nxt = 1
print(0,1,end=" ")
for i in range(n-1):
    s = prev+nxt
    print(prev+nxt,end=" ")
    prev = nxt
    nxt = s

0 1 1 2 3 5 8 13 21 34 55

# 09. Calculate Sum of digits

In [2]:
n = 1234
s = 0
while n:
    last = n%10
    s += last
    n = n//10
print(s)

10

# 10. Calculate Occurence of digit

In [10]:
n = 1234511
digit_to_count = 1
count = 0
while n:
    last = n%10
    if last == digit_to_count:
        count += 1
    n = n//10
print(count)

3

# 11. Reverse of a Number

In [12]:
n = 123
s = 0
while n:
    last = n%10
    s = s * 10 + last
    n = n//10
print(s)

321

# 12. ASCII Table

In [15]:
for i in range(128):
    print(i,chr(i))

0  
1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~
127 

# 13. Determine Case of Alphabet

In [19]:
char = 'Z'
if char >= 'a' and char <= 'z':
    print("lower")
elif char >= 'A' and char <= 'Z':
    print("upper")
else:
    print("invalid")

upper

# 14. Print All Alphabets in Uppercase

In [25]:
for char in range(ord('A'), ord('Z')+1):
    print(chr(char))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

# 15. Convert Decimal To Binary

In [35]:
n = 10
l = [0 for i in range(8)]
i = 0
while n:
    l[i] = n%2
    i += 1
    n = n//2
for i in range(len(l)-1,-1,-1):
    print(l[i],end=" ")

0 0 0 0 1 0 1 0

# 16. Print first N even numbers

In [8]:
n = 1
i = 2
while n<=5:
    print(i,end=" ")
    i = i+2
    n += 1
#-----------------OR-----------------------
# n = 5
# for i in range(1, n+1):
#     print(i*2,end= " ")

2 4 6 8 10

# 17. Print first N odd numbers

In [11]:
n = 1
i = 1
while n<=5:
    print(i,end=" ")
    i = i+2
    n += 1

1 3 5 7 9

# 18. Calculate Power of a Number

In [21]:
n = 4
power = 3
res = 1
for i in range(power):
    res *= n
print(res)

64

# 19. Find LCM of two numbers

In [35]:
n1 = 54
n2 = 27
for i in range(2, (n1*n2)+1):
    if i%n1 == 0 and i%n2==0:
        print(i)
        break
        
#----------------improved logic---------------------------

# n1 = 7
# n2 = 14
# larger = n1 if n1>n2 else n2
# for i in range(larger, (n1*n2)+1):
#     if i%n1 == 0 and i%n2==0:
#         print(i)
#         break

54

# 20. Find HCF of two numbers

In [36]:
n1 = 34
n2 = 17
larger= larger = n1 if n1>n2 else n2
for i in range(2, larger+1):
    if n1%i==0 and n2%i==0:
        hcf = i
print(hcf)

#----------------improved logic---------------------------
# n1 = 17
# n2 = 34
# larger= larger = n1 if n1>n2 else n2
# for i in range(larger, 0, -1):
#     if n1%i==0 and n2%i==0:
#         print(i)
#         break

17
17

# 21. Check if the number is Armstrong

In [53]:
# An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to the number itself.
# For example, 371 is an Armstrong number since 3**3 + 7**3 + 1**3 = 371

n = 371
num = n
s = 0
while n:
    last = n%10
    s += last ** 3
    n = n//10
print("armstrong") if num == s else print("not armstrong")

armstrong

# 22. Print Armstrong number between 1 to 1000

In [57]:
for num in range(1,1000+1):
    n = num
    s = 0
    while n:
        last = n%10
        s += last ** 3
        n = n//10
    if s == num:
        print(s)

1
153
370
371
407

# 23. Print prime numbers between a given range

In [60]:
a = 1
b = 20
for n in range(a, b+1):
    flag = True
    for i in range(2, (n//2)+1):
        if n%i == 0:
            flag = False
            break
    if flag == True:
        print(n)

1
2
3
5
7
11
13
17
19

# 24. Check if number is co prime or not

In [74]:
# Co prime number is a pair of number which don't have common factors other than 1
# e.g (8,15)
# 8 = 1,2,4,8
# 15=  1,3,5,15
# Explanation :  factors of 8 & 5 don;t have a common factor other than 1

a = 8
b = 15
smaller = a if a<b else b
for i in range(smaller, 1, -1):
    flag = True
    if a%i == 0 and b%i ==0:
        flag = False
        break
print("co prime") if flag else print("not co prime")

co prime

# 25. Express the numbers as a sum of 2 prime numbers

In [83]:
# find two numbers such that it's sum is equal to original number & 
# both numbers should be prime
# given no = 34
# 3 31
# 5 29
# 11 23
# 17 17

def isPrime(n):
    flag = True
    for i in range(2,(n//2)+1):
        if n%i == 0:
            flag = False
            break
    res =  True if flag else False
    return res

num = 34
for n in range(2, (num//2)+1 ):
    if isPrime(n) and isPrime(num-n):
        print(n, num-n)

3 31
5 29
11 23
17 17

# 26. Check if a number is Palindrome or Not

In [35]:
n = 101
num = n
rev = 0
while n:
    last = n%10
    rev = rev*10 + last
    n = n//10
print("Palindrome") if num == rev else print("not Palindrome")

Palindrome

# 27. Find sum of series

In [10]:
# // 1 + (1+2) + (1+2+3) + ....... +(1+2+3+4.....n)

n = 3
res = 0
for t in range(1, n+1):
    s = 0
    for i in range(1, t+1):
        s += i
    res += s
print(res)

10

# 28. Check if the number is Strong

In [13]:
# A strong number is a number whose sum of the factorial of it's digit
# is equal to the original number
# eg. 145 = !1 + !4 + !5

n = 145
num = n
res = 0
while n:
    p = 1
    last = n%10
    for i in range(1,last+1):
        p *= i
    n = n//10
    res += p
print("strong number") if res == num else print("not armstrong")

strong number

# 29. Check if the number is Spy

In [15]:
# A spy number is a number whose sum & product of it's digit is equal to each other
# eg. 1412
# sum = (1+4+1+2)
# product = (1*4*1*2)
# sum = product

n = 1412
s = 0
p = 1
while n:
    last = n%10
    s += last
    p *= last
    n = n//10
print("spy") if s == p else print("not spy")

spy

# 30. Print N Positive numbers with Two bit Set

In [13]:
# two bit set means binary of a number should contain two 1's.(two bits ON)
# 3 = 0011
# 5 = 0101

#----------------------------Optimal SolutionO(n)------------------------------
num = 3
n = 1
c = 0
x = 1
while True:
    if num == 0:
        break
    r = n%2
    n = n//2
    if r == 1:
        c += 1
    if n == 0:
        if c == 2:
            print(x)
            num -= 1
        x += 1
        n = x
        c = 0
    
#----------------------------Bruteforce SolutionO(n^2)------------------------------
# num = 3
# x = 1
# while num:
#     c = 0
#     n = x
#     while n:
#         r = n%2
#         if r == 1:
#             c += 1
#         n = n//2
#     if c == 2:
#         print(x)
#         num -= 1
#     x += 1

3
5
6