# 1

In [55]:
for i in range(1, 6):
    for j in range(1, 6):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# 2

In [54]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

# 3

In [53]:
for i in range(65, 70):
    for j in range(1, 6):
        print(chr(i), end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

# 4

In [52]:
for i in range(1, 6):
    for j in range(65,70):
        print(chr(j), end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

# 5

In [51]:
for i in range(5, 0,-1):
    for j in range(1,6):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

# 6

In [50]:
for i in range(5, 0, -1):
    for j in range(5, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

# 7

In [49]:
for i in range(69, 64,-1):
    for j in range(1,6):
        print(chr(i), end=" ")
    print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

# 8

In [48]:
for i in range(1, 6):
    for j in range(69, 64,-1):
        print(chr(j), end=" ")
    print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

# 9

In [97]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

# 10

In [96]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=i):
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 11

In [95]:
for i in range(65, 70):
    for j in range(65, 70):
        if(j<=i):
            print(chr(i),end=" ")
        else:
            print(" ",end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

# 12

In [94]:
for i in range(65, 70):
    for j in range(65, 70):
        if(j<=i):
            print(chr(j),end=" ")
        else:
            print(" ",end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

# 13

In [93]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

# 14

In [92]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# 15

In [91]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

# 16

In [90]:
k = 65
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k += 1
    print()

A A A A A
B B B B
C C C
D D
E

# 17

In [89]:
for i in range(1, 6):
    k = 65
    for j in range(1, 6):
        if(j<=6-i):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
        k += 1
    print()

A B C D E
A B C D
A B C
A B
A

# 18

In [88]:
k = 5
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print(k,end=" ")
        else:
            print(" ",end=" ")
    k -= 1
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# 19

In [87]:
for i in range(1, 6):
    k = 5
    for j in range(1, 6):
        if(j<=6-i):
            print(k,end=" ")
        else:
            print(" ",end=" ")
        k -= 1
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

# 20

In [86]:
k = 69
for i in range(1, 6):
    for j in range(1, 6):
        if(j<=6-i):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k -= 1
    print()

E E E E E
D D D D
C C C
B B
A

# 21

In [85]:
for i in range(1, 6):
    k = 69
    for j in range(1, 6):
        if(j<=6-i):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
        k -= 1
    print()

E D C B A
E D C B
E D C
E D
E

# 22

In [98]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j>=6-i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

# 23

In [100]:
k = 65
for i in range(1, 6):
    for j in range(1, 6):
        if(j>=6-i):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k += 1
    print()

        A
      B B
    C C C
  D D D D
E E E E E

# 24

In [11]:
for i in range(1, 6):
    k = 65
    for j in range(1, 6):
        if(j>=6-i):
            print(chr(k),end=" ")
            k += 1
        else:
            print(" ",end=" ")
    print()

        A
      A B
    A B C
  A B C D
A B C D E

# 25

In [12]:
for i in range(1, 6):
    for j in range(1, 6):
        if(j>=i and j <=5):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

# 26

In [14]:
k = 5
for i in range(1, 6):
    for j in range(1, 6):
        if(j>=i and j <=5):
            print(k,end=" ")
        else:
            print(" ",end=" ")
    k -= 1
    print()

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

# 27

In [30]:
k = 69
for i in range(1, 6):
    for j in range(1, 6):
        if(j>=i and j <=5):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k -= 1
    print()

E E E E E
  D D D D
    C C C
      B B
        A

# 28

In [34]:
for i in range(1, 6):
    k = 65
    for j in range(1, 6):
        if(j>=i and j <=5):
            print(chr(k),end=" ")
            k += 1
        else:
            print(" ",end=" ")
        
    print()

A B C D E
  A B C D
    A B C
      A B
        A

# 29

In [35]:
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# 30

In [38]:
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(i,end=" ")
        else:
            print(" ",end=" ")
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

# 31

In [44]:
k =1
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(k,end=" ")
        else:
            print(" ",end=" ")
    k += 2
    print()

        1
      3 3 3
    5 5 5 5 5
  7 7 7 7 7 7 7
9 9 9 9 9 9 9 9 9

# 32

In [46]:
k = 65
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k += 1
    print()

        A
      B B B
    C C C C C
  D D D D D D D
E E E E E E E E E

# 33

In [47]:
k = 65
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
        else:
            print(" ",end=" ")
    k += 2
    print()

        A
      C C C
    E E E E E
  G G G G G G G
I I I I I I I I I

# 34

In [48]:
for i in range(1, 6):
    k = 65
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
            k += 1
        else:
            print(" ",end=" ")
    print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

# 35

In [53]:
for i in range(1, 6):
    k = 1
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(k,end=" ")
            k += 1
        else:
            print(" ",end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

# 36

In [56]:
k = 1
x = k
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(k,end=" ")
            k -= 1
        else:
            print(" ",end=" ")
    x = x+2
    k = x
    print()

        1
      3 2 1
    5 4 3 2 1
  7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

# 37

In [57]:
k = 65
x = k
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
            k -= 1
        else:
            print(" ",end=" ")
    x = x+2
    k = x
    print()

        A
      C B A
    E D C B A
  G F E D C B A
I H G F E D C B A

# 38

In [73]:
k = 0
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(k,end=" ")
            if(j<5):
                k -= 1
            else:
                k += 1
        else:
            print(" ",end=" ")
    print()

        0
      1 0 1
    2 1 0 1 2
  3 2 1 0 1 2 3
4 3 2 1 0 1 2 3 4

# 39

In [74]:
k = 65
for i in range(1, 6):
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
            if(j<5):
                k -= 1
            else:
                k += 1
        else:
            print(" ",end=" ")
    print()

        A
      B A B
    C B A B C
  D C B A B C D
E D C B A B C D E

# 40

In [85]:
for i in range(1, 6):
    k = 1
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(k,end=" ")
            if(j<5):
                k += 1
            else:
                k -= 1
        else:
            print(" ",end=" ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

# 41

In [86]:
for i in range(1, 6):
    k = 65
    for j in range(1, 10):
        if(j>=6-i and j <=i+4):
            print(chr(k),end=" ")
            if(j<5):
                k += 1
            else:
                k -= 1
        else:
            print(" ",end=" ")
    print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A

# 42

In [2]:
for i in range(5,0,-1):
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*********
 *******
  *****
   ***
    *

# 43

In [3]:
for i in range(5,0,-1):
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(i, end="")
        else:
            print(" ", end="")
    print()

555555555
 4444444
  33333
   222
    1

# 44

In [4]:
k = 9
for i in range(5,0,-1):
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(k, end="")
        else:
            print(" ", end="")
    k -= 2
    print()

999999999
 7777777
  55555
   333
    1

# 45

In [11]:
for i in range(5,0,-1):
    k = 1
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(k, end="")
            k += 1
        else:
            print(" ", end="")
    print()

123456789
 1234567
  12345
   123
    1

# 46

In [12]:
k = 69
for i in range(5,0,-1):
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(chr(k), end="")
        else:
            print(" ", end="")
    k -= 1
    print()

EEEEEEEEE
 DDDDDDD
  CCCCC
   BBB
    A

# 47

In [13]:
k = 73
for i in range(5,0,-1):
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(chr(k), end="")
        else:
            print(" ", end="")
    k -= 2
    print()

IIIIIIIII
 GGGGGGG
  EEEEE
   CCC
    A

# 48

In [16]:
for i in range(5,0,-1):
    k = 65
    for j in range(9, 0, -1):
        if j <= i+4 and j >= 6-i:
            print(chr(k), end="")
            k += 1
        else:
            print(" ", end="")
    print()

ABCDEFGHI
 ABCDEFG
  ABCDE
   ABC
    A

# 49

In [22]:
for i in range(1, 8):
    for j in range(1, 5):
        if i <= 4:
            if j >= 1 and j <= i:
                print("*", end="")
            else:
                print(" ", end="")
        else:
            if j >= 1 and j <= 8-i:
                print("*", end="")
            else:
                print(" ", end="")
    print()

*
**
***
****
***
**
*

# 50

In [23]:
for i in range(1, 8):
    k = 3
    for j in range(1, 5):
        if i <= 4:
            if j >= 1 and j <= i:
                print(k, end="")
                k -= 1
            else:
                print(" ", end="")
        else:
            if j >= 1 and j <= 8-i:
                print(k, end="")
                k -= 1
            else:
                print(" ", end="")
    print()

3
32
321
3210
321
32
3

# 51

In [24]:
k = 3
p = -3
for i in range(1, 8):
    x = k
    s = p
    for j in range(1, 5):
        if i <= 4:
            if j >= 1 and j <= i:
                print(x, end="")
                x += 1
            else:
                print(" ", end="")
        else:
            if j >= 1 and j <= 8-i:
                print(s, end="")
                s += 1
            else:
                print(" ", end="")
    print()
    k -= 1
    p += 1

3
23
123
0123
123
23
3

# 52

In [27]:
k = 68
p = 61
for i in range(1, 8):
    x = k
    s = p
    for j in range(1, 5):
        if i <= 4:
            if j >= 1 and j <= i:
                print(chr(x), end="")
                x += 1
            else:
                print(" ", end="")
        else:
            if j >= 1 and j <= 8-i:
                print(chr(s), end="")
                s += 1
            else:
                print(" ", end="")
    print()
    k -= 1
    p += 1

D
CD
BCD
ABCD
ABC
BC
C

# 53

In [28]:
for i in range(1, 8):
    k = 68
    for j in range(1, 5):
        if i <= 4:
            if j >= 1 and j <= i:
                print(chr(k), end="")
                k -= 1
            else:
                print(" ", end="")
        else:
            if j >= 1 and j <= 8-i:
                print(chr(k), end="")
                k -= 1
            else:
                print(" ", end="")
    print()

D
DC
DCB
DCBA
DCB
DC
D

In [29]:
75

75